html body
{
text-align: center;
font-family: 'Quicksand', sans-serif;
color: #2b2b2b;
background-color: mistyrose;
}

 h1{
padding: 15%;
font-family: 'Quicksand', sans-serif;
 }

 h2
 {
font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  color: #45665A;
  margin-bottom: 5%;
  margin-top: 7%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;

 }

 h3{
  font-family: 'Quicksand', sans-serif;
  color: #45665A;
 }


 h6{
font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  padding: 0%;
  color: #45665A;
 }



 h5
 {
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  padding-top: 30%;
  padding-bottom: -5%;
  margin-bottom: -5%;
  
 }



 p {
font-family: 'Quicksand', sans-serif;
    padding-left: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 3%;
    margin-right: 10%;
    color: #45665A;
   

}


.image1{


width: 100.50%;
margin: -1%;

}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -.60%;



}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #2b2b2b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


  
}

 	.image2 {

 	width: 46%;
 	float: left;
 	margin: 1.60%;
  padding-left: 6px;

 	}

 	.image3
 	{

 	width: 96%;
 	float: left;
 	margin: 1.60%;
  padding-left: 6px;
 	

 	}

  .image4
  {
  width: 50%;
  float: left;
  margin: 1.60%;
  padding-left: 23%;

  }

 	