html body
{
text-align: center;
font-family: 'Work Sans', sans-serif;
color: #2b2b2b;
background-color: mistyrose;
}

footer
{
background: #2b2b2b;
width: 101.3%;
height: 100%;
color: white;
margin-left: -.7%;

}

a
{
color: white;
}

.footerlogo
{
width: 20%;
margin-top: -.5%;
margin-bottom: -.5%;
}

h1{

padding: 0%;
padding-top: 2%;
margin-left: 25%;
margin-right: 25%;
color: #2b2b2b;
text-align: center;
padding-bottom: 20%;


 }



 h2
 {

  font-size: 60px;
  color: #2b2b2b;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;

 }
 h4
 {
  
  font-size: 60px;
  color: #45665A;
  margin-bottom: -4%;
  margin-right: 10%;
  margin-left: 11%;
  text-align: center;
 }



 h3{
  
  color: #45665A;
  font-size: 40px;
  margin-right: 20%;
  text-align: center;

 }



h5
{
font-size: 40px;
float: left;
color: #F7A292;
margin-top: 1%;
margin-left: 1%;
margin-bottom: -3%;
}
 



h6
{

  font-size: 40px;
  color: #2b2b2b;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
}


 p {

 margin-right:30%;
margin-left: 30%;
font-size: 12px;

   

}

.image1
{

width: 100.50%;
margin: -1%;
margin-top: 3%;


}

.image3
{
width: 100%;
margin-left: 1%;
padding-top: -0%;
padding-bottom: 13%;

}




.image2
{

  width: 85%;
  margin: -0%;
  padding-top: -0%;
  padding-right: .5%;
  
 
}

.image4
{

  width: 85%;
  margin: -0%;
  padding-top: -0%;
  padding-right: .5%;
  padding-left: 7.5%;
}




/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -.5%;


}

/* Links inside the navbar */
.navbar a {
    float: right;
    margin-top: 1.5%;
    display: block;
    color: #2b2b2b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-right: 2%;

}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

