 	
html {

font-family: 'ABeeZee', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

 }

 h1{
padding: 15%;
font-family: 'ABeeZee', sans-serif;
 }

 h2
 {
font-family: 'ABeeZee', sans-serif;
  font-size: 60px;
  color: #45665A;
  margin-bottom: 5%;
  margin-top: 7%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;

 }

 h3{
  font-family: 'ABeeZee', sans-serif;
  color: #45665A;
 }


 h6{
font-family: 'ABeeZee', sans-serif;
  font-size: 10px;
  padding: 0%;
  color: #45665A;
 }



 h5
 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 10px;
  padding-top: 30%;
  padding-bottom: -5%;
  margin-bottom: -5%;
  
 }

html body{

  background-color: #C5D9F0;

}

 p {
font-family: 'ABeeZee', sans-serif;
  font-family: 'League Script', cursive;
    padding-left: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 3%;
    margin-right: 10%;
    color: #45665A;
   

}


.image1{


width: 100.50%;
margin: -1%;

}


#menu ul {
font-family: 'ABeeZee', sans-serif;
  background-color: #none;
  height: 5px;
  float: none;
  text-align: center; 
  padding: 0px;
  padding-bottom: 3%;
  padding-top: -5%;

}

#menu ul li {
  
  font-size: 20px;
  line-height: 50px; 
  display: inline;
  margin: 0px 20px;
  font-style: normal;

}

#menu ul li a {
  color: #45665A;
  text-decoration:none;
  
}

#menu ul li a:hover {
  color: darksalmon;

  
}

 	.image2 {

 	width: 46%;
 	float: left;
 	margin: 1.60%;
  padding-left: 6px;

 	}

 	.image3
 	{

 	width: 96%;
 	float: left;
 	margin: 1.60%;
  padding-left: 6px;
 	

 	}

  .image4
  {
  width: 50%;
  float: left;
  margin: 1.60%;
  padding-left: 23%;

  }

 	